@import 'material-icons/iconfont/filled.css';

* {
    box-sizing: border-box;
    user-select: none;
}

:root {
    --bg-color: #222222;
    --bg-color-light: #333333;
    --fg-color: #e6e6e6;
    --toolbar-height: 40px;
    --footer-height: 40px;
    --bg-highlight: #391d3a;
    --bg-highlight-dark: #391c3a;
    --fg-highlight: #ffc5ff;
    --fg-danger: red;
    --bg-danger: #ab0000;
    --fg-happy: #00c700;
    --fg-warn: #e89c0f;
    --bg-warn: #ecb500;
    --fg-blue: #3e3eff;
    --overlay-color: #2f2f2fE6;
    --border-light: 2px solid var(--overlay-color);
    --border-dark: 2px solid #181818;
    --z-toolbar: 1000;
    --z-overlay: 900;
    --z-dialog: 800;
    --z-dialog-overlay: 799;
    --z-side-panel: 600;
    --z-side-panel-overlay: 599;
    --z-content: 500;
}

html {
    background-color: var(--bg-color);
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    color: var(--fg-color);
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    width: 100vw;
}

input[type=submit], button {
    background-color: var(--bg-highlight);
    color: var(--fg-color);
    border-radius: 4px;
    text-shadow: 0 0 4px var(--fg-highlight);
    padding: 4px 8px;
    margin: 4px;
    border-top: 2px solid var(--bg-color);
    border-left: 2px solid var(--bg-color);
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    cursor: pointer;
    font-size: 1em;
}

input[type=submit]:disabled, button:disabled {
    background-color: var(--bg-color-light);
    color: gray;
    cursor: not-allowed;
}

input[type=submit]:active:not(*:disabled), button:active:not(*:disabled) {
    background-color: var(--bg-highlight-dark);
    border-right: 2px solid var(--bg-color);
    border-bottom: 2px solid var(--bg-color);
    border-top: 2px solid black;
    border-left: 2px solid black;
}

input[type=submit].secondary, button.secondary {
    background-color: var(--bg-color-light);
}

input[type=submit].secondary:active:not(*:disabled), button.secondary:active:not(*:disabled) {
    background-color: var(--bg-color);
}

input[type="text"], textarea {
    background-color: var(--bg-color-light);
    color: var(--fg-color);
}

input[type="text"] {
    width: 100%;
}

textarea {
    width: 100%;
    min-height: 150px;
}

label {
    margin: 8px;
}

select {
    background-color: var(--bg-color-light);
    color: var(--fg-color);
    font-size: 1.1em;
}

table.table {
    width: 100%;
    --radius: 8px;
    --border-size: 2px;

    border-radius: var(--radius);
    border: var(--border-dark);
    border-spacing: 0;
}

table.table tr:first-child {
    font-weight: bold;
    background-color: var(--bg-color-light);
}

table.table th {
    text-align: center;
}

table.table th:first-child {
    border-top-left-radius: calc(var(--radius) - 2px);
}

table.table th:last-child {
    border-top-right-radius: calc(var(--radius) - 2px);
}

table.table tr:last-child td:first-child {
    border-bottom-left-radius: calc(var(--radius) - 2px);
}

table.table tr:last-child td:last-child {
    border-bottom-right-radius: calc(var(--radius) - 2px);
}

table.table tr:nth-child(even) {
    background-color: var(--bg-color);
}

table.table tr:nth-child(odd) {
    background-color: var(--bg-color-light);
}

table.table th, table.table td {
    border-right: var(--border-light);
}

table.table th:last-child, table.table td:last-child {
    border-right: none;
}

table.table td:first-child {
    padding-left: 8px;
}
